.titulo{
    text-align: center;
    padding: 32px;
    position: relative;
}

.titulo h3{
    font-size: 48px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
    color: #6278F7;
}


.titulo .botao-container {
    display: flex;
    justify-content: center; 
    gap: 30%;
}